.main-window{
    overflow: hidden;
    /*border: #ff512e  solid;*/
    /*border: 1px solid #c0c0c0;*/
    margin: 0px;
    width:1000px;
}
.user-account-info{
    bottom:0px;
}

.main-note-content{
    width: auto;
    height: auto;
}
.main-note-list{
    overflow-x:scroll;
    /*height: 600-(65+49);*/
    height: 490px;
}


.col-md-height{
    height: 600px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.note-item-btn{
    position: absolute;right:0px;bottom:0px;display: none;
}
.note-item{

}
.note-item:hover > .note-item-btn {  display: inline; }

.cate-btn-add{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.cate-btn-add:hover{
    padding: 1px 5px;
    background-color: #79b7e7;
    border-radius: 3px;
}
.new-cate-input{
    margin-top:15px;
}