.main-window{
    overflow: hidden;
    border: #ff512e  solid;
    /*border: 1px solid #c0c0c0;*/
    margin: 0px;
    width:1000px;
}
.user-account-info{
    bottom:0px;
}

.main-note-content{
    width: auto;
    height: auto;
}
.main-note-list{
    overflow-x:scroll;
    /*height: 600-(65+49);*/
    height: 490px;
}


.col-md-height{
    height: 600px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
